:root {
    --font-title: 'Lilita One', cursive;
    --font-header: 'Ubuntu', sans-serif;
}

.logo a{
    font-family: var(--font-title);
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

nav li {
    list-style: none;
}
ul.menu {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: white;
    width: 100%;
    gap: 0;
}

.navbar_container {
    max-width: auto;
    margin: 0 auto;
    padding: 0px 90px;

    gap: 45px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar .menu li a {
    color: black;
    text-decoration: none;
    padding: auto;
    font-family: var(--font-header);
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    cursor: pointer;
}
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header {
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font-header);
}
header p {
    margin: 0;
    padding: 10px 0;
    font-size: 0.8rem;
}
header a {
    color: white;
}

body {
    margin: 0;
}
/* search section */
.search{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: #f1f1f1;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
    width: 500px;
    height: 30px;
}
.search-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
    flex-shrink: 0;
}
.search-input {
    border: none;
    background: none;
    outline: none;
    font-family: var(--font-header);
    font-size: 1rem;
    width: 150px;
}

.hero {
    background-color: #f5f5f5;
    background-image: url(/assets/images/heroimage.jpg);
}
.hero-container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: grid;
    grid-template: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
.hero-title{
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.hero-desc{
    font-family: var(--font-header);
    color: #555;
}
.btn{
    border: none;
    padding: 1rem 4rem;
    border-radius: 999px;
    font-size: 15px;
    color: white;
    background-color: black;

    cursor: pointer;
}
.hero-stats{
    display: flex;
    gap: 3rem;
    margin-top: 2.5rem;
    padding: 0;
    list-style: none;
}
.hero-stats strong{
    display: block;
    font-size: 1.5rem;
    font-family: var(--font-title);
}
.hero-stats span{
    font-size: 0.8rem;
    color: #666;
    font-family: var(--font-header);
}
.hero-image img{
    width: 100%;
    height: auto;
    display: block;
}


