:root {
    --font-title: 'Lilita One', cursive;
    --font-header: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.logo a{
    font-family: var(--font-title);
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

nav li {
    list-style: none;
}
ul.menu {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: white;
    width: 100%;
    gap: 0;
}

.navbar_container {
    max-width: auto;
    margin: 0 auto;
    padding: 0px 90px;

    gap: 45px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar .menu li a {
    color: black;
    text-decoration: none;
    padding: auto;
    font-family: var(--font-header);
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    cursor: pointer;
}
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.prom {
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font-header);
}
header p {
    margin: 0;
    padding: 10px 0;
    font-size: 0.8rem;
}
header a {
    color: white;
}

body {
    margin: 0;
}
/* search section */
.search{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: #f1f1f1;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
    width: 700px;
    height: 30px;
}
.search-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
    flex-shrink: 0;
}
.search-input {
    border: none;
    background: none;
    outline: none;
    font-family: var(--font-header);
    font-size: 1rem;
    width: 700px;
}
/* hero section */
.hero {
    position: relative;
    background-color: #F2F0F1;
    background-image: url(/assets/images/wallpapers/herosection.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 663px;
    background-position: 10% bottom;
}

.hero-container{
    margin: 0 auto;
    padding: 4rem 6rem;
    display: grid;
    align-items: center;
    gap: 2rem;
}
.hero-title{
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    height: 173px;
    width: 450px;
}
.hero-desc{
    font-family: var(--font-header);
    color: #555;
    width: 600px;
}
.btn{
    border: none;
    padding: 1rem 4rem;
    border-radius: 999px;
    font-size: 15px;
    color: white;
    background-color: black;

    cursor: pointer;
}
.hero-stats{
    display: flex;
    gap: 3rem;
    margin-top: 2.5rem;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
.hero-stats li{
    border-right: 1px solid #e0e0e0;
    padding-right: 25px;
}
.hero-stats li:last-child{
    border-right: none;
    padding-right: 0;
}
.hero-stats strong{
    display: block;
    font-size: 1.5rem;
    font-family: var(--font-title);
}
.hero-stats span{
    font-size: 0.8rem;
    color: #666;
    font-family: var(--font-header);
}
/* brands section */
.brands{
    background-color: black;
    margin: 0;
    padding: 2rem 0rem;
}

.brands-container{
    max-width: auto;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Arrivals section*/
.top-selling header h2, .new-arrivals header h2{
    font-family: var(--font-title);
    margin-top: 2rem;
    font-size: 2.5rem;
    background-color: white;
    color: black;
    margin-top: 4rem;
    width: fit-content;
}

.arrivals-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1240px;
    margin: 0 auto;
    padding: 3rem 1rem;
}
.product-card{
    font-family: var(--font-header);
}
.product-image{
    background-color: #F2F0F1;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image img{
    max-width: 100%;
    height: auto;
}
.product-rate{
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
.product-title{
    margin-bottom: 0.3rem;
}
.section-action{
    text-align: center;
    margin-bottom: 4rem;
}
.btn--outline{
    background: transparent;
    border: 1px solid #ddd;
    color: black;
    padding: 0.75rem 3rem;
    border-radius: 999px;
    cursor: pointer;
}
.header-arrival{
    display: flex;
    justify-content: center;
}
.product-price {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-top: 0.3rem;

    font-family: var(--font-title);
}
.price-current{
    font-size: 1.5rem;
}
.price-old{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: gray;
}
.price-discount{
    font-size: 0.7rem;
    color: #ff3333 ;
    padding: 0.4rem 0.8rem;
    background-color: #ffecec;
    border-radius: 999px;
}
.section-divider{
    border: none;
    height: 1px;
    width: 80%;
    max-width: 1200px;

    background-color: #e5e5e5;
    margin: 4rem auto;
}
.box-info{
    max-width: 1200px;
    margin: 0 10%;
    padding: 3rem 1rem;
    border-radius: 99px;
    background-color: #f0f0f0;
    height: auto;
    margin-left: 20%;
   
}
.box-title{
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-align: center;
}
.box-container{
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.customers-title{
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 7rem;
    margin-left: 10rem;
    text-align: left;
}
.customer-name{
    font-family: var(--font-title);
    font-size: 1.2rem;
    margin: 0;
}
.customer-review{
    font-family: var(--font-header);
    font-size: 0.9rem;
    color: #555;
    margin-top: 1rem;
}
.customer-name span img{
    width: 18px;
    height: 18px;
}
.customer-card{
    background-color: white;
    border-radius: 20px;
    border: 2px solid #e0e0e0;
    padding: 1rem;
    width: 300px;
    box-sizing: border-box;
}
.customers-container{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.customer-name span img{
    width: 24px;
    height: 24px;
}
.newsletter{
    background: black;
    border-radius: 20px;
    margin: 4rem auto;
    padding: 3rem;
    max-width: 1200px;
    margin-bottom: 0;
}
.newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.newsletter h2{
    color: white;
    font-size: 2rem;
    font-family: var(--font-title);
}
.newsletter-form input{
    padding: 0.75rem 1rem;
    border-radius: 999px;
    border: none;
    min-width: 260px;
}
.newsletter-form button{
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    border: none;
    background: white;
    cursor: pointer;
    margin-top: 1rem;
    min-width: 290px;
    align-items: center;
    margin-left: 10%;
}
.newsletter-form{
    
}
.footer-main{
    padding: 4rem 10%;
    background-color: #f0f0f0;
}
.footer-grid{
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 2rem;
}
.footer-brand h3{
    font-family: var(--font-title);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.footer-brand p{
    width: 230px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #555;
}
.footer-social{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}
.footer-links h4{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links li{
    margin-bottom: 0.5rem;
}
.footer-links a{
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
}
.footer-bottom{
    padding: 1.5rem 13.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    background-color: #f0f0f0;
    border-top: 1px solid #d9d7d7;
}
.email-icon{
    width: 18px;
    height: 18px;
    fill: currentColor;
    flex-shrink: 0;
}

